.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

$principal-color: #6D89B9;
$secondary-color: #1E2F4C;
$border-div-color: #3C6C48;
$titles-color: #304323;
$center-color-firstCard: #194F23;
$center-color-secondCard: #026329;
$valid-color: #05264C;
$color-transparent: transparent;

$principal-gradient: linear-gradient(90deg, #607081, #313E4C);
$principal-gradient-invested: linear-gradient(270deg, #607081, #313E4C);
$secondary-gradient: linear-gradient(90deg, #CDFAE7, #5E927C);
$secondary-gradient-invert: linear-gradient(270deg, #CDFAE7, #5E927C);
$center-gradient-cards: linear-gradient(90deg, #626873, #3A475C);
$btnNew-gradient: linear-gradient(90deg, #56855C, #99C39F);
$btnNew-gradient-invested: linear-gradient(270deg, #56855C, #99C39F);
$invalid-linearGradient: linear-gradient(90deg, #808977, #833629);
$invalidRequired-linearGradient: linear-gradient(90deg, #793737, #882727);
$valid-linearGradient: linear-gradient(90deg, #8ABB8D, #518E56);

$secondary-gradient-hover: linear-gradient(90deg, #ABD0C5, #3C705A);
$secondary-gradient-active: linear-gradient(90deg, #BCE0D6, #4D816B);

$bd-radius-projects: 1rem;
$bd-radius-btnNew: .5rem;
$bd-radius-input: .7rem;

$bx-shadow-task: 2px 3px 7px 1px #3B453D;

$svg-star: #898A02;
$svg-completed: #218A02;
$svg-pending: #6B1002;

$pixel-fontFamily: 'Pixelify Sans', sans-serif;
$dateClock-fontFamily: 'Tilt Neon', sans-serif;
$h5-fontFamily: 'Josefin Sans', sans-serif;
$btn-ff: 'Young Serif', serif;
$center-first-card-ff: 'Josefin Sans', sans-serif;
$center-second-card-ff: 'Permanent Marker', cursive;
$center-task-ff: 'Khand', sans-serif;

@mixin displays($display, $justify, $align) {
	align-items: $align;
	display: $display;
	justify-content: $justify;
}

body {
	background-image: url('./sea-6326812_1280.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	margin: 0 auto;
	padding: 6rem 5rem 0;
}

.content-first-section {
	@include displays(flex, space-between, start);
	cursor: default;
	width: 100%;

	> .country-access {
		font-family: $btn-ff;

		> #form-search-city {
			@include displays(flex, center, center);

			> input[type=text] {
				background-color: $color-transparent;
				border: 1px solid $color-transparent;
				border-bottom: 2px solid #DDD;
				font-family: $h5-fontFamily;
				padding: .5rem .8rem .1rem;
				width: 20vw;
				transition: all .2s ease-in-out;

				&:hover {
					transform: scale(1.05);
				}

				&:focus {
					outline: none;
				}
			}

			> button {
				@include displays(flex, center, center);
				background-color: $color-transparent;
				border: $color-transparent;
				transition: all .2s ease-in-out;

				&:hover {
					transform: scale(1.08);
				}
			}
		}

		> h3 {
			margin: .8rem 0 0;
			font-size: 1.2rem;
			letter-spacing: .2rem;
			transition: all .6s ease-in-out;

			&:hover {
				transform: scale(1.05);
			}
		}

		> h2 {
			margin: .5rem 0;
			font-size: 2.2rem;
			letter-spacing: -.1rem;
			transition: all .6s ease-in-out;

			&:hover {
				transform: scale(1.05);
			}
		}

		> p {
			font-size: .8rem;
			margin: 0;
			transition: all .6s ease-in-out;

			&:hover {
				transform: scale(1.05);
			}
		}

		> button {
			background-color: $color-transparent;
			border: 1px solid $color-transparent;
			font-family: $pixel-fontFamily;
			transition: all .2s ease-in-out;

			&:hover {
				transform: scale(1.05);
			}

			&:active {
				transform: scale(1.02);
			}
		}

		> div {
			> span {
				-webkit-animation-name: img;
				-webkit-animation-duration: .5s;
				animation-name: img;
				animation-duration: .5s;
				font-size: 6rem;
				margin: .2rem 0 0 1rem;
				transition: all .4s ease-in-out;

				&:hover {
					transform: rotate(40deg) scale(1.15);
				}

				&:active {
					transform: rotate(-40deg) scale(1.2);
				}
			}
		}
	}

	.country-data-first {
		> .content-data {
			@include displays(flex, start, center);

			> span {
				-webkit-animation-name: img;
				-webkit-animation-duration: .5s;
				animation-name: img;
				animation-duration: .5s;
				text-shadow: 0 0 5px black;
				filter: none;
				font-size: 3rem;
				margin-right: 1rem;
				transition: all .4s ease-in-out;

				&:hover {
					transform: rotate(40deg) scale(1.15);
				}

				&:active {
					transform: rotate(-40deg) scale(1.2);
				}
			}

			> .content-text-temperature {
				font-family: $center-first-card-ff;

				> p {
					filter: none;
					font-size: 1rem;
					margin: 0;
					transition: all .6s ease-in-out;

					&:hover {
						transform: scale(1.05);
					}
				}

				> h5 {
					font-size: 1.5rem;
					margin: 0;
					transition: all .6s ease-in-out;

					&:hover {
						transform: scale(1.05);
					}
				}
			}
		}
	}
}

.filter-blur {
	background-color: #CCC;
	bottom: 10rem;
	-webkit-filter: blur(20px);
	width: 13.5rem;
	height: 3.7rem;
	position: relative;
	right: .2rem;
	transform: translateY(6.5rem);
	z-index: -1;
}


@media (max-width: 660px) {
	body {
		background-size: 2000px;
		height: 1000px;
	}

	.content-first-section {
		@include displays(flex, center, center);
		flex-direction: column; 

		> .country-access {
			margin: 0 0 8rem;
		}
	}

	#form-search-city {
		@include displays(flex, center, center);

		> input[type=text] {
			width: 60vw;
		}
	}

	.filter-blur {
		background-color: #CCC;
		bottom: 10rem;
		-webkit-filter: blur(20px);
		width: 13.5rem;
		height: 3.7rem;
		position: relative;
		right: .2rem;
		transform: translateY(6.5rem);
		z-index: -1;
	}

	.filter-blur-first {
		background-color: #CCC;
		bottom: 52rem;
		-webkit-filter: blur(50px);
		left: 4rem;
		width: 17rem;
		height: 23rem;
		position: relative;	
		z-index: -1;
	}
}

@keyframes img {
	from {
		transform: rotate(180deg) scale(1.15);
	}
	to {
		transform: rotate(360deg) scale(1.2);
	}
}

@keyframes centerAnimation {
	from {
		transform: translateX(500px);
	}
	to {
		transform: translateX(0);
	}
}